<h1 class="text-3xl">Contacto</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Ultricies ut pretium quis eu natoque sodales integer libero orci torquent justo curabitur fermentum,
    felis faucibus taciti ultrices proin posuere placerat volutpat eros habitant erat rutrum.
    Faucibus dapibus quis sodales orci quisque ante nullam leo class ullamcorper, ultricies libero
    tempor magnis turpis id vitae scelerisque nam mus, phasellus enim est nec egestas eget
    interdum platea porta. Eros tincidunt laoreet arcu dictumst ornare fames in dictum cursus,
    quis elementum lectus pharetra egestas magna mattis convallis velit,
    venenatis bibendum sodales aliquam sagittis at scelerisque natoque.
  </p>
</section>
