<h1 class="text-3xl">Precios de  la aplicación</h1>
<hr class="my-2">

<section>
  <p class="mb-4">Tincidunt ullamcorper sollicitudin molestie iaculis nam luctus proin nunc,
    cum fames mollis torquent felis aptent nibh mi habitant, libero arcu curabitur metus rutrum
    sagittis diam. Commodo auctor nostra parturient turpis euismod mi torquent volutpat laoreet
    facilisi aenean varius vestibulum morbi, per libero conubia fermentum dignissim tortor ad
    magnis aliquam egestas nam phasellus felis, leo quam dictum mauris praesent potenti convallis
     non pretium quisque nec sodales eros. Condimentum placerat nunc pretium metus aptent semper
      non justo rhoncus, erat id fames fringilla posuere aenean dapibus mus sem cras,
      primis dictumst blandit facilisis habitant nec risus euismod.
  </p>
</section>
