<nav class="top-0 absolute text-white z-50 w-full flex gap-4 items-center justify-end px-2 py-3 bg-slate-900 shadow-md">
  <a class="hover:underline" routerLink="/pokemons/page/1" routerLinkActive="text-blue-500 underline" >Pokémons</a>
  <a class="hover:underline" routerLink="/about" routerLinkActive="text-blue-500 underline" >About</a>
  <a class="hover:underline" routerLink="/contact" routerLinkActive="text-blue-500 underline" >Contact</a>
  <a class="hover:underline" routerLink="/pricing" routerLinkActive="text-blue-500 underline" >Pricing</a>

</nav>
